IMPORTING THE NECESSARY MODULES

In [10]:
!pip install pandas
!pip install matplotlib
!pip install numpy
!pip install seaborn
!pip install plotly.express

Requirement already satisfied: pandas in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: numpy in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (2.2.0)
Requirement already satisfied: seaborn in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.0)
Requirement already satisfied: pandas>=1.2 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: plotly.express in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (0.4.1)
Requirement already satisfied: pandas>=0.20.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly.express) (2.2.3)
Requirement already satisfied: plotly>=4.1.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly.express) (5.24.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly.express) (0.14.4)
Requirement already satisfied: scipy>=0.18 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly.express) (1.14.1)
Requirement already satisfied: patsy>=0.5 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly.express) (1.0.1)
Requirement already satisfied: numpy>=1.11 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly.express) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.20.0->plotly.express) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.20.0->plotly.express) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.20.0->plotly.express) (2024.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly>=4.1.0->plotly.express) (9.0.0)
Requirement already satisfied: packaging in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from plotly>=4.1.0->plotly.express) (24.2)
Requirement already satisfied: six>=1.5 in c:\users\kate\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->plotly.express) (1.17.0)

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

LOADING THE DATASET

In [12]:
df = pd.read_csv("C:/Users/Kate/Documents/BCGX_data_file.csv")

READING THE MANUALLY EXTRACTED DATA FROM THE SEC EDGAR DATABASE

https://www.sec.gov/edgar/searchedgar/cik

In [15]:
df

,Unnamed: 0,Year,Company,Net Income,Total Revenue,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
0,0,2023,Microsoft,72361,211915,411976,205753,87582,NaN,NaN
1,1,2022,Microsoft,72738,198270,364840,198298,89035,-6.438902,0.520999
2,2,2021,Microsoft,61271,168088,333779,191791,76740,-15.222676,-15.764800
3,3,2023,Tesla,14974,96773,106618,43009,13256,NaN,NaN
4,4,2022,Tesla,12556,81462,82338,36440,14724,-15.821562,-16.147990
5,5,2021,Tesla,5519,53823,62131,30548,11497,-33.928703,-56.044919
6,6,2023,Apple,96995,383285,352583,290437,110543,NaN,NaN
7,7,2022,Apple,99803,394328,352755,302083,122151,2.881146,2.894995
8,8,2021,Apple,94680,365817,351002,287912,104038,-7.230275,-5.133112

CALCULATING YEAR-BY-YEAR GROWTH RATES FOR "TOTAL REVENUE" AND "NET INCOME"

In [13]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [16]:
df

,Unnamed: 0,Year,Company,Net Income,Total Revenue,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
0,0,2023,Microsoft,72361,211915,411976,205753,87582,NaN,NaN
1,1,2022,Microsoft,72738,198270,364840,198298,89035,-6.438902,0.520999
2,2,2021,Microsoft,61271,168088,333779,191791,76740,-15.222676,-15.764800
3,3,2023,Tesla,14974,96773,106618,43009,13256,NaN,NaN
4,4,2022,Tesla,12556,81462,82338,36440,14724,-15.821562,-16.147990
5,5,2021,Tesla,5519,53823,62131,30548,11497,-33.928703,-56.044919
6,6,2023,Apple,96995,383285,352583,290437,110543,NaN,NaN
7,7,2022,Apple,99803,394328,352755,302083,122151,2.881146,2.894995
8,8,2021,Apple,94680,365817,351002,287912,104038,-7.230275,-5.133112

INPUTING NULL/NaN VALUES THAT RESULT FROM pct_change CALUCULATIONS WITH 0

In [18]:
df.fillna(0, inplace = True)

In [19]:
df

,Unnamed: 0,Year,Company,Net Income,Total Revenue,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
0,0,2023,Microsoft,72361,211915,411976,205753,87582,0.000000,0.000000
1,1,2022,Microsoft,72738,198270,364840,198298,89035,-6.438902,0.520999
2,2,2021,Microsoft,61271,168088,333779,191791,76740,-15.222676,-15.764800
3,3,2023,Tesla,14974,96773,106618,43009,13256,0.000000,0.000000
4,4,2022,Tesla,12556,81462,82338,36440,14724,-15.821562,-16.147990
5,5,2021,Tesla,5519,53823,62131,30548,11497,-33.928703,-56.044919
6,6,2023,Apple,96995,383285,352583,290437,110543,0.000000,0.000000
7,7,2022,Apple,99803,394328,352755,302083,122151,2.881146,2.894995
8,8,2021,Apple,94680,365817,351002,287912,104038,-7.230275,-5.133112

CALCULATING YEAR-BY-YEAR GROWTH RATES FOR "TOTAL ASSETS", "TOTAL LIABILITIES", AND "CASH FLOW FROM OPERATING ACTIVITES"

In [21]:
df['Assets Growth (%)'] = df.groupby('Company')['Total Assets'].pct_change() * 100
df['Liabilities Growth (%)'] = df.groupby('Company')['Total Liabilities'].pct_change() * 100
df['Cash Flow from Operations Growth(%)'] = df.groupby('Company')['Cash Flow from Operating Activities'].pct_change()

In [22]:
df

,Unnamed: 0,Year,Company,Net Income,Total Revenue,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,2023,Microsoft,72361,211915,411976,205753,87582,0.000000,0.000000,NaN,NaN,NaN
1,1,2022,Microsoft,72738,198270,364840,198298,89035,-6.438902,0.520999,-11.441443,-3.623276,0.016590
2,2,2021,Microsoft,61271,168088,333779,191791,76740,-15.222676,-15.764800,-8.513595,-3.281425,-0.138092
3,3,2023,Tesla,14974,96773,106618,43009,13256,0.000000,0.000000,NaN,NaN,NaN
4,4,2022,Tesla,12556,81462,82338,36440,14724,-15.821562,-16.147990,-22.772890,-15.273547,0.110742
5,5,2021,Tesla,5519,53823,62131,30548,11497,-33.928703,-56.044919,-24.541524,-16.169045,-0.219166
6,6,2023,Apple,96995,383285,352583,290437,110543,0.000000,0.000000,NaN,NaN,NaN
7,7,2022,Apple,99803,394328,352755,302083,122151,2.881146,2.894995,0.048783,4.009820,0.105009
8,8,2021,Apple,94680,365817,351002,287912,104038,-7.230275,-5.133112,-0.496945,-4.691095,-0.148284

In [23]:
df.fillna(0, inplace = True)

In [24]:
df

,Unnamed: 0,Year,Company,Net Income,Total Revenue,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,2023,Microsoft,72361,211915,411976,205753,87582,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,2022,Microsoft,72738,198270,364840,198298,89035,-6.438902,0.520999,-11.441443,-3.623276,0.016590
2,2,2021,Microsoft,61271,168088,333779,191791,76740,-15.222676,-15.764800,-8.513595,-3.281425,-0.138092
3,3,2023,Tesla,14974,96773,106618,43009,13256,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,2022,Tesla,12556,81462,82338,36440,14724,-15.821562,-16.147990,-22.772890,-15.273547,0.110742
5,5,2021,Tesla,5519,53823,62131,30548,11497,-33.928703,-56.044919,-24.541524,-16.169045,-0.219166
6,6,2023,Apple,96995,383285,352583,290437,110543,0.000000,0.000000,0.000000,0.000000,0.000000
7,7,2022,Apple,99803,394328,352755,302083,122151,2.881146,2.894995,0.048783,4.009820,0.105009
8,8,2021,Apple,94680,365817,351002,287912,104038,-7.230275,-5.133112,-0.496945,-4.691095,-0.148284

In [25]:
df.to_csv('final_data_report.csv')

In [26]:
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean',
    'Assets Growth (%)' : 'mean',
    'Liabilities Growth (%)' : 'mean',
    'Cash Flow from Operations Growth(%)' :'mean'    
}).reset_index()

In [27]:
print('Year-By-Year Average Growth Rates(%) :-')
print('             OR')
print("Overall Growth/Fall rate for Apple, Microsoft and Tesla from Fiscal Year 2021 - 2023")
summary

Year-By-Year Average Growth Rates(%) :-
             OR
Overall Growth/Fall rate for Apple, Microsoft and Tesla from Fiscal Year 2021 - 2023

,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,Apple,-1.449710,-0.746039,-0.149388,-0.227092,-0.014425
1,Microsoft,-7.220526,-5.081267,-6.651679,-2.301567,-0.040501
2,Tesla,-16.583422,-24.064303,-15.771471,-10.480864,-0.036141